<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Easy share</title>
</head>
<body>
  

    <h1>File Share System</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload File:</label>
        <input type="file" id="file" name="file">
        <br>
        <label for="text">Enter Text:</label>
        <textarea id="text" name="text"></textarea>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
